<h1>Start Page</h1>
<hr/>

<form role="form" method="GET">
    <div class="form-group">
        <label for="some_text">Some Text</label>
        <input class="form-control" id="some_text" name="some_text" placeholder="Some text please">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="take_part">Take Part?
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>Option 1
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">Option 2
        </label>
    </div>

    <div class="select">

        <label>Select Single</label>
        <select class="form-control" name="select_single">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <label>Select Multiple</label>
        <select multiple class="form-control" name="select_multiple">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

    </div>

    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>

    <textarea id="textarea1" name="textarea1"></textarea>
    
    <br/>
    <button type="submit" class="btn btn-default">Submit</button>

    <input type="hidden" value="1" name="currentPage" />
    <input type="hidden" value="2" name="nextPage" />

</form>