<!DOCTYPE html>
<html>

<head>
    <title>Example Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <div class="container">

      {% if nextPage == "1" %}
      {% include "_firstpage.html" %}
      {% endif %}

      {% if nextPage == "2" %}
      {% include "_secondpage.html" %}
      {% endif %}

      {% if nextPage == "3" %}
      {% include "_lastpage.html" %}
      {% endif %}

    </div>

</body>
<script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>